@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: rgb(27, 27, 27);
}

#counter >div {
    font-size: 4em;
    color: white;
    border-radius: 10%;
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}